@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");
@import url("https://fonts.googleapis.com/icon?family=Gemunu+Libre:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

@font-face {
  font-family: "PFBeauSansPro";
  font-weight: normal;
  src: url(https://mkxchl.github.io/chlxmk/assets/dist/font/PFBeauSansPro-Regular.woff);
}
::selection {
  background-color: purple;
  color: white;
}
* {
  padding: 0;
  margin: 0;
  font-family: "PFBeauSansPro", sans-serif;
  scroll-behavior: smooth;
}
body {
  position: relative;
  background-image: url("../playlist/img/Bgthumbnail.jpg");
  justify-content: center;
  align-content: center;
  display: flex;
  height: 100vh;
  width: 100%;
  place-content: center;
  place-items: center;
  overflow: hidden;
  transition: 1s;
}
@media (min-width: 1200px) {
  .VxAuthor {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes wave1 {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0.5);
  }
}

@keyframes wave2 {
  from {
    transform: scaleY(0.3);
  }

  to {
    transform: scaleY(0.6);
  }
}

@keyframes wave3 {
  from {
    transform: scaleY(0.6);
  }

  to {
    transform: scaleY(0.8);
  }
}

@keyframes wave4 {
  from {
    transform: scaleY(0.2);
  }

  to {
    transform: scaleY(0.5);
  }
}
@media (min-width: 400px) {
  .VxAuthor {
    position: fixed;
    top: 0;
    bottom: 0;
    /* bottom: 50%; */
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99;
  }
  .VxAuthor.AuthorShow {
    opacity: 1;
    pointer-events: auto;
  }
  .VxAuthor.AuthorShow .VxAuthorContent {
    transform: translateY(0);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    transform: translateY(100%);
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .VxAuthor .VxAuthorContent.UpdateHeight {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 530px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    /* overflow-y: auto; */
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorHeader img {
    transform: none;
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorDetail {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorMeta {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VzSocilxxx {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthorHeader {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000000000;
  }
  .VxAuthorHeader img {
    position: fixed;
    top: -13%;
    left: 35%;
    width: 30%;
    border-radius: 80px;
    z-index: 9999999999999999;
    box-sizing: 0 0 10px rgba(0,0,0,0.1);
    border: 5px solid #fff;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    transform: none;
  }
  .VxAuthorDetail {
    position: relative;
    margin-top: 15px;
    top: 50px;
    text-align: center;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
  }
  .VxAuthorDetail h4 {
    font-size: 20px;
  }
  .VxAuthorDetail p {
    font-size: 14px;
  }
  .VxAuthorMusic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 5px;
    background: #eee;
    border-radius: 50px;
    padding: 3px;
  }
  .VxAuthorMusic i {
    position: relative;
    margin-right: 5px;
    place-items: center;
    cursor: pointer;
  }
  .VxAuthorMusicList {
    position: relative;
    display: flex;
    text-align: center;
    place-content: center;
  }
  .VxAuthorMusicList h4 {
    font-size: 12px;
  }
  .VxAuthorMusicList span {
    font-size: 12px;
    margin-left: 5px;
  }
  .VxAuthorMeta {
    position: relative;
    /* bottom: 30px; */
    /* margin-top: 20px; */
    top: 80px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .VxAuthorMetaBody {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 0.1px solid #cdcdcd;    
  }
  .VxAuthorMetaBody h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #828282;
  }
  .VxAuthorMetaBody p {
    font-size: 12px;
    color: #3a3a3a;
  }
  .VxAuthorFoot {
    position: relative;
    text-align: center;
    margin-top: 40px;
  }
  .VxAuthorFoot p {
    font-size: 12px;
  }
  .VxAuthorFoot p b {
    cursor: pointer;
    transition: 0.5s ease;
  }
  .VxAuthorFoot p b:hover {
    color: #828282;
    transition: 0.5s ease;
  }
  .VzSocilxxx {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999999999;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VzSocilxxxContent i {
    position: relative;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
  }
  .topRadius {
    border-top-right-radius: 30px;
  }
  .btmRadius {
    border-bottom-left-radius: 10px;
  }
  .VzSocilxxxContent i:hover {
    background: #eee;
    transition: 0.5s ease;
    color: #000;
  }
  .VxAuthorBtnContent {
    position: relative;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
  }
  .VxAuthorBtnContent {
    position: relative;
    display: flex;
    background-color: #eee;
    border-radius: 50px;
  }
  .VxAuthorBtnList {
    margin: 10px;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .VxAuthorBtnList:hover {
    transition: 0.5s ease;
  }
  .VxAuthorBtnList:hover h4 {
    color: rgb(0, 204, 255);
    transition: 0.5s ease;
  }
  .VxAuthorBtnList h4 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
  }
  .VxAuthorBtnList.BtnXActive {
    color: rgb(0, 204, 255);
    font-weight: bold;
    transition: 0.5s ease;
  }
  /* Contact */

  .VxAuthor .VxAuthorContent.Contactxx {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.Contactxx #Profxxx {
    opacity: 0;
    pointer-events: none;
  }
  .VxAuthor .VxAuthorContent.Contactxx .VxAuthorHeader img {
    position: absolute;
    left: 5%;
    width: 20%;
    top: 30%;
    transform: translateX(5%) translateY(0);
    transform: none;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.Contactxx .VxAuthorDetail {
    position: relative;
    text-align: left;
    top: 30px;
    left: 20px;
  }
  .NavMusic {
    position: fixed;
    justify-content: center;
    bottom: 7%;
    padding: 10px;
    border-radius: 50px;
    /* top: 50%; */
    /* right: 55%; */
    /* margin-bottom: 50px; */
    text-align: center;
    z-index: 999999999999;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
  }
  .NavMusic.ShowMsc {
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s ease;
  }
  .wave-menu {
    border-radius: 50px;
    width: 200px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: ease 0.2s;
    position: relative;
  }
  .wave-menu li {
    list-style: none;
    height: 10px;
    width: 4px;
    border-radius: 10px;
    background: #00bfff;
    margin: 0 6px;
    padding: 0;
    animation-name: wave1;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: ease 0.2s;
  }
  .wave-menu li:nth-child(2) {
    animation-name: wave2;
    animation-delay: 0.2s;
  }
  .wave-menu li:nth-child(3) {
    animation-name: wave3;
    animation-delay: 0.23s;
    animation-duration: 0.4s;
  }
  .wave-menu li:nth-child(4) {
    animation-name: wave4;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
  }
  .wave-menu li:nth-child(5) {
    animation-delay: 0.5s;
  }
  .wave-menu li:nth-child(6) {
    animation-name: wave2;
    animation-duration: 0.5s;
  }
  .wave-menu li:nth-child(8) {
    animation-name: wave4;
    animation-delay: 0.4s;
    animation-duration: 0.25s;
  }
  .wave-menu li:nth-child(9) {
    animation-name: wave3;
    animation-delay: 0.15s;
  }
  .VxAuthor .VxAuthorContent.DelHeight {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader img {
    position: fixed;
    left: 39%;
    width: 20%;
    top: 8%;
    border: none;
    transform: translateX(5%) translateY(0);
    transition: 0.5s ease;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail {
    position: relative;
    top: 90px;
    transform: none;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail h4 {
    font-size: 16px;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic {
    position: relative;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic h4 {
    font-size: 12px;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic span {
    font-size: 12px;
  }
  .VxAuthor .VxAuthorContent.DelHeight #Profxxx {
    opacity: 0;
    pointer-events: none;
  }
  .BxtnBack {
    position: relative;
    top: 25px;
    background-color: aqua;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
  }
  .BxtnBack h4 {
    font-weight: normal;
    font-size: 12px;
  }
}

@media (min-width: 390px) {
  .VxAuthor {
    position: fixed;
    top: 0;
    bottom: 0;
    /* bottom: 50%; */
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99;
  }
  .VxAuthor.AuthorShow {
    opacity: 1;
    pointer-events: auto;
  }
  .VxAuthor.AuthorShow .VxAuthorContent {
    transform: translateY(0);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    transform: translateY(100%);
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .VxAuthor .VxAuthorContent.UpdateHeight {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 530px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    /* overflow-y: auto; */
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorHeader img {
    transform: none;
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorDetail {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorMeta {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VzSocilxxx {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthorHeader {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000000000;
  }
  .VxAuthorHeader img {
    position: fixed;
    top: -13%;
    left: 35%;
    width: 30%;
    border-radius: 80px;
    z-index: 9999999999999999;
    box-sizing: 0 0 10px rgba(0,0,0,0.1);
    border: 5px solid #fff;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    transform: none;
  }
  .VxAuthorDetail {
    position: relative;
    margin-top: 15px;
    top: 50px;
    text-align: center;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
  }
  .VxAuthorDetail h4 {
    font-size: 20px;
  }
  .VxAuthorDetail p {
    font-size: 14px;
  }
  .VxAuthorMusic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 5px;
    background: #eee;
    border-radius: 50px;
    padding: 3px;
  }
  .VxAuthorMusic i {
    position: relative;
    margin-right: 5px;
    place-items: center;
    cursor: pointer;
  }
  .VxAuthorMusicList {
    position: relative;
    display: flex;
    text-align: center;
    place-content: center;
  }
  .VxAuthorMusicList h4 {
    font-size: 12px;
  }
  .VxAuthorMusicList span {
    font-size: 12px;
    margin-left: 5px;
  }
  .VxAuthorMeta {
    position: relative;
    /* bottom: 30px; */
    /* margin-top: 20px; */
    top: 80px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .VxAuthorMetaBody {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 0.1px solid #cdcdcd;    
  }
  .VxAuthorMetaBody h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #828282;
  }
  .VxAuthorMetaBody p {
    font-size: 12px;
    color: #3a3a3a;
  }
  .VxAuthorFoot {
    position: relative;
    text-align: center;
    margin-top: 40px;
  }
  .VxAuthorFoot p {
    font-size: 12px;
  }
  .VxAuthorFoot p b {
    cursor: pointer;
    transition: 0.5s ease;
  }
  .VxAuthorFoot p b:hover {
    color: #828282;
    transition: 0.5s ease;
  }
  .VzSocilxxx {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999999999;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VzSocilxxxContent i {
    position: relative;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
  }
  .topRadius {
    border-top-right-radius: 30px;
  }
  .btmRadius {
    border-bottom-left-radius: 10px;
  }
  .VzSocilxxxContent i:hover {
    background: #eee;
    transition: 0.5s ease;
    color: #000;
  }
  .VxAuthorBtnContent {
    position: relative;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
  }
  .VxAuthorBtnContent {
    position: relative;
    display: flex;
    background-color: #eee;
    border-radius: 50px;
  }
  .VxAuthorBtnList {
    margin: 10px;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .VxAuthorBtnList:hover {
    transition: 0.5s ease;
  }
  .VxAuthorBtnList:hover h4 {
    color: rgb(0, 204, 255);
    transition: 0.5s ease;
  }
  .VxAuthorBtnList h4 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
  }
  .VxAuthorBtnList.BtnXActive {
    color: rgb(0, 204, 255);
    font-weight: bold;
    transition: 0.5s ease;
  }
  /* Contact */

  .VxAuthor .VxAuthorContent.Contactxx {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.Contactxx #Profxxx {
    opacity: 0;
    pointer-events: none;
  }
  .VxAuthor .VxAuthorContent.Contactxx .VxAuthorHeader img {
    position: absolute;
    left: 5%;
    width: 20%;
    top: 30%;
    transform: translateX(5%) translateY(0);
    transform: none;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.Contactxx .VxAuthorDetail {
    position: relative;
    text-align: left;
    top: 30px;
    left: 20px;
  }
  .NavMusic {
    position: fixed;
    justify-content: center;
    bottom: 7%;
    padding: 10px;
    border-radius: 50px;
    /* top: 50%; */
    /* right: 55%; */
    /* margin-bottom: 50px; */
    text-align: center;
    z-index: 999999999999;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
  }
  .NavMusic.ShowMsc {
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s ease;
  }
  .wave-menu {
    border-radius: 50px;
    width: 200px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: ease 0.2s;
    position: relative;
  }
  .wave-menu li {
    list-style: none;
    height: 10px;
    width: 4px;
    border-radius: 10px;
    background: #00bfff;
    margin: 0 6px;
    padding: 0;
    animation-name: wave1;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: ease 0.2s;
  }
  .wave-menu li:nth-child(2) {
    animation-name: wave2;
    animation-delay: 0.2s;
  }
  .wave-menu li:nth-child(3) {
    animation-name: wave3;
    animation-delay: 0.23s;
    animation-duration: 0.4s;
  }
  .wave-menu li:nth-child(4) {
    animation-name: wave4;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
  }
  .wave-menu li:nth-child(5) {
    animation-delay: 0.5s;
  }
  .wave-menu li:nth-child(6) {
    animation-name: wave2;
    animation-duration: 0.5s;
  }
  .wave-menu li:nth-child(8) {
    animation-name: wave4;
    animation-delay: 0.4s;
    animation-duration: 0.25s;
  }
  .wave-menu li:nth-child(9) {
    animation-name: wave3;
    animation-delay: 0.15s;
  }
  .VxAuthor .VxAuthorContent.DelHeight {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader img {
    position: fixed;
    left: 39%;
    width: 20%;
    top: 8%;
    border: none;
    transform: translateX(5%) translateY(0);
    transition: 0.5s ease;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail {
    position: relative;
    top: 90px;
    transform: none;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail h4 {
    font-size: 16px;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic {
    position: relative;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic h4 {
    font-size: 12px;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic span {
    font-size: 12px;
  }
  .VxAuthor .VxAuthorContent.DelHeight #Profxxx {
    opacity: 0;
    pointer-events: none;
  }
  .BxtnBack {
    position: relative;
    top: 25px;
    background-color: aqua;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
  }
  .BxtnBack h4 {
    font-weight: normal;
    font-size: 12px;
  }
}

@media (min-width: 380px) {
  .VxAuthor {
    position: fixed;
    top: 0;
    bottom: 0;
    /* bottom: 50%; */
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99;
  }
  .VxAuthor.AuthorShow {
    opacity: 1;
    pointer-events: auto;
  }
  .VxAuthor.AuthorShow .VxAuthorContent {
    transform: translateY(0);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    transform: translateY(100%);
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .VxAuthor .VxAuthorContent.UpdateHeight {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 530px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    /* overflow-y: auto; */
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorHeader img {
    transform: none;
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorDetail {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorMeta {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VzSocilxxx {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthorHeader {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000000000;
  }
  .VxAuthorHeader img {
    position: fixed;
    top: -13%;
    left: 35%;
    width: 30%;
    border-radius: 80px;
    z-index: 9999999999999999;
    box-sizing: 0 0 10px rgba(0,0,0,0.1);
    border: 5px solid #fff;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    transform: none;
  }
  .VxAuthorDetail {
    position: relative;
    margin-top: 15px;
    top: 50px;
    text-align: center;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
  }
  .VxAuthorDetail h4 {
    font-size: 20px;
  }
  .VxAuthorDetail p {
    font-size: 14px;
  }
  .VxAuthorMusic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 5px;
    background: #eee;
    border-radius: 50px;
    padding: 3px;
  }
  .VxAuthorMusic i {
    position: relative;
    margin-right: 5px;
    place-items: center;
    cursor: pointer;
  }
  .VxAuthorMusicList {
    position: relative;
    display: flex;
    text-align: center;
    place-content: center;
  }
  .VxAuthorMusicList h4 {
    font-size: 12px;
  }
  .VxAuthorMusicList span {
    font-size: 12px;
    margin-left: 5px;
  }
  .VxAuthorMeta {
    position: relative;
    /* bottom: 30px; */
    /* margin-top: 20px; */
    top: 80px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .VxAuthorMetaBody {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 0.1px solid #cdcdcd;    
  }
  .VxAuthorMetaBody h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #828282;
  }
  .VxAuthorMetaBody p {
    font-size: 12px;
    color: #3a3a3a;
  }
  .VxAuthorFoot {
    position: relative;
    text-align: center;
    margin-top: 40px;
  }
  .VxAuthorFoot p {
    font-size: 12px;
  }
  .VxAuthorFoot p b {
    cursor: pointer;
    transition: 0.5s ease;
  }
  .VxAuthorFoot p b:hover {
    color: #828282;
    transition: 0.5s ease;
  }
  .VzSocilxxx {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999999999;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VzSocilxxxContent i {
    position: relative;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
  }
  .topRadius {
    border-top-right-radius: 30px;
  }
  .btmRadius {
    border-bottom-left-radius: 10px;
  }
  .VzSocilxxxContent i:hover {
    background: #eee;
    transition: 0.5s ease;
    color: #000;
  }
  .VxAuthorBtnContent {
    position: relative;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
  }
  .VxAuthorBtnContent {
    position: relative;
    display: flex;
    background-color: #eee;
    border-radius: 50px;
  }
  .VxAuthorBtnList {
    margin: 10px;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .VxAuthorBtnList:hover {
    transition: 0.5s ease;
  }
  .VxAuthorBtnList:hover h4 {
    color: rgb(0, 204, 255);
    transition: 0.5s ease;
  }
  .VxAuthorBtnList h4 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
  }
  .VxAuthorBtnList.BtnXActive {
    color: rgb(0, 204, 255);
    font-weight: bold;
    transition: 0.5s ease;
  }
  /* Contact */

  .VxAuthor .VxAuthorContent.Contactxx {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.Contactxx #Profxxx {
    opacity: 0;
    pointer-events: none;
  }
  .VxAuthor .VxAuthorContent.Contactxx .VxAuthorHeader img {
    position: absolute;
    left: 5%;
    width: 20%;
    top: 30%;
    transform: translateX(5%) translateY(0);
    transform: none;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.Contactxx .VxAuthorDetail {
    position: relative;
    text-align: left;
    top: 30px;
    left: 20px;
  }
  .NavMusic {
    position: fixed;
    justify-content: center;
    bottom: 7%;
    padding: 10px;
    border-radius: 50px;
    /* top: 50%; */
    /* right: 55%; */
    /* margin-bottom: 50px; */
    text-align: center;
    z-index: 999999999999;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
  }
  .NavMusic.ShowMsc {
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s ease;
  }
  .wave-menu {
    border-radius: 50px;
    width: 200px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: ease 0.2s;
    position: relative;
  }
  .wave-menu li {
    list-style: none;
    height: 10px;
    width: 4px;
    border-radius: 10px;
    background: #00bfff;
    margin: 0 6px;
    padding: 0;
    animation-name: wave1;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: ease 0.2s;
  }
  .wave-menu li:nth-child(2) {
    animation-name: wave2;
    animation-delay: 0.2s;
  }
  .wave-menu li:nth-child(3) {
    animation-name: wave3;
    animation-delay: 0.23s;
    animation-duration: 0.4s;
  }
  .wave-menu li:nth-child(4) {
    animation-name: wave4;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
  }
  .wave-menu li:nth-child(5) {
    animation-delay: 0.5s;
  }
  .wave-menu li:nth-child(6) {
    animation-name: wave2;
    animation-duration: 0.5s;
  }
  .wave-menu li:nth-child(8) {
    animation-name: wave4;
    animation-delay: 0.4s;
    animation-duration: 0.25s;
  }
  .wave-menu li:nth-child(9) {
    animation-name: wave3;
    animation-delay: 0.15s;
  }
  .VxAuthor .VxAuthorContent.DelHeight {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader img {
    position: fixed;
    left: 39%;
    width: 20%;
    top: 8%;
    border: none;
    transform: translateX(5%) translateY(0);
    transition: 0.5s ease;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail {
    position: relative;
    top: 90px;
    transform: none;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail h4 {
    font-size: 16px;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic {
    position: relative;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic h4 {
    font-size: 12px;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic span {
    font-size: 12px;
  }
  .VxAuthor .VxAuthorContent.DelHeight #Profxxx {
    opacity: 0;
    pointer-events: none;
  }
  .BxtnBack {
    position: relative;
    top: 25px;
    background-color: aqua;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
  }
  .BxtnBack h4 {
    font-weight: normal;
    font-size: 12px;
  }
}

@media (min-width: 370px) {
  .VxAuthor {
    position: fixed;
    top: 0;
    bottom: 0;
    /* bottom: 50%; */
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99;
  }
  .VxAuthor.AuthorShow {
    opacity: 1;
    pointer-events: auto;
  }
  .VxAuthor.AuthorShow .VxAuthorContent {
    transform: translateY(0);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    transform: translateY(100%);
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .VxAuthor .VxAuthorContent.UpdateHeight {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 530px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    /* overflow-y: auto; */
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorHeader img {
    transform: none;
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorDetail {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorMeta {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VzSocilxxx {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthorHeader {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000000000;
  }
  .VxAuthorHeader img {
    position: fixed;
    top: -13%;
    left: 35%;
    width: 30%;
    border-radius: 80px;
    z-index: 9999999999999999;
    box-sizing: 0 0 10px rgba(0,0,0,0.1);
    border: 5px solid #fff;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    transform: none;
  }
  .VxAuthorDetail {
    position: relative;
    margin-top: 15px;
    top: 50px;
    text-align: center;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
  }
  .VxAuthorDetail h4 {
    font-size: 20px;
  }
  .VxAuthorDetail p {
    font-size: 14px;
  }
  .VxAuthorMusic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 5px;
    background: #eee;
    border-radius: 50px;
    padding: 3px;
  }
  .VxAuthorMusic i {
    position: relative;
    margin-right: 5px;
    place-items: center;
    cursor: pointer;
  }
  .VxAuthorMusicList {
    position: relative;
    display: flex;
    text-align: center;
    place-content: center;
  }
  .VxAuthorMusicList h4 {
    font-size: 12px;
  }
  .VxAuthorMusicList span {
    font-size: 12px;
    margin-left: 5px;
  }
  .VxAuthorMeta {
    position: relative;
    /* bottom: 30px; */
    /* margin-top: 20px; */
    top: 80px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .VxAuthorMetaBody {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 0.1px solid #cdcdcd;    
  }
  .VxAuthorMetaBody h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #828282;
  }
  .VxAuthorMetaBody p {
    font-size: 12px;
    color: #3a3a3a;
  }
  .VxAuthorFoot {
    position: relative;
    text-align: center;
    margin-top: 40px;
  }
  .VxAuthorFoot p {
    font-size: 12px;
  }
  .VxAuthorFoot p b {
    cursor: pointer;
    transition: 0.5s ease;
  }
  .VxAuthorFoot p b:hover {
    color: #828282;
    transition: 0.5s ease;
  }
  .VzSocilxxx {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999999999;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VzSocilxxxContent i {
    position: relative;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
  }
  .topRadius {
    border-top-right-radius: 30px;
  }
  .btmRadius {
    border-bottom-left-radius: 10px;
  }
  .VzSocilxxxContent i:hover {
    background: #eee;
    transition: 0.5s ease;
    color: #000;
  }
  .VxAuthorBtnContent {
    position: relative;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
  }
  .VxAuthorBtnContent {
    position: relative;
    display: flex;
    background-color: #eee;
    border-radius: 50px;
  }
  .VxAuthorBtnList {
    margin: 10px;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .VxAuthorBtnList:hover {
    transition: 0.5s ease;
  }
  .VxAuthorBtnList:hover h4 {
    color: rgb(0, 204, 255);
    transition: 0.5s ease;
  }
  .VxAuthorBtnList h4 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
  }
  .VxAuthorBtnList.BtnXActive {
    color: rgb(0, 204, 255);
    font-weight: bold;
    transition: 0.5s ease;
  }
  /* Contact */

  .VxAuthor .VxAuthorContent.Contactxx {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.Contactxx #Profxxx {
    opacity: 0;
    pointer-events: none;
  }
  .VxAuthor .VxAuthorContent.Contactxx .VxAuthorHeader img {
    position: absolute;
    left: 5%;
    width: 20%;
    top: 30%;
    transform: translateX(5%) translateY(0);
    transform: none;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.Contactxx .VxAuthorDetail {
    position: relative;
    text-align: left;
    top: 30px;
    left: 20px;
  }
  .NavMusic {
    position: fixed;
    justify-content: center;
    bottom: 7%;
    padding: 10px;
    border-radius: 50px;
    /* top: 50%; */
    /* right: 55%; */
    /* margin-bottom: 50px; */
    text-align: center;
    z-index: 999999999999;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
  }
  .NavMusic.ShowMsc {
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s ease;
  }
  .wave-menu {
    border-radius: 50px;
    width: 200px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: ease 0.2s;
    position: relative;
  }
  .wave-menu li {
    list-style: none;
    height: 10px;
    width: 4px;
    border-radius: 10px;
    background: #00bfff;
    margin: 0 6px;
    padding: 0;
    animation-name: wave1;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: ease 0.2s;
  }
  .wave-menu li:nth-child(2) {
    animation-name: wave2;
    animation-delay: 0.2s;
  }
  .wave-menu li:nth-child(3) {
    animation-name: wave3;
    animation-delay: 0.23s;
    animation-duration: 0.4s;
  }
  .wave-menu li:nth-child(4) {
    animation-name: wave4;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
  }
  .wave-menu li:nth-child(5) {
    animation-delay: 0.5s;
  }
  .wave-menu li:nth-child(6) {
    animation-name: wave2;
    animation-duration: 0.5s;
  }
  .wave-menu li:nth-child(8) {
    animation-name: wave4;
    animation-delay: 0.4s;
    animation-duration: 0.25s;
  }
  .wave-menu li:nth-child(9) {
    animation-name: wave3;
    animation-delay: 0.15s;
  }
  .VxAuthor .VxAuthorContent.DelHeight {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader img {
    position: fixed;
    left: 39%;
    width: 20%;
    top: 8%;
    border: none;
    transform: translateX(5%) translateY(0);
    transition: 0.5s ease;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail {
    position: relative;
    top: 90px;
    transform: none;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail h4 {
    font-size: 16px;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic {
    position: relative;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic h4 {
    font-size: 12px;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic span {
    font-size: 12px;
  }
  .VxAuthor .VxAuthorContent.DelHeight #Profxxx {
    opacity: 0;
    pointer-events: none;
  }
  .BxtnBack {
    position: relative;
    top: 25px;
    background-color: aqua;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
  }
  .BxtnBack h4 {
    font-weight: normal;
    font-size: 12px;
  }
}

@media (min-width: 360px) {
  .VxAuthor {
    position: fixed;
    top: 0;
    bottom: 0;
    /* bottom: 50%; */
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99;
  }
  .VxAuthor.AuthorShow {
    opacity: 1;
    pointer-events: auto;
  }
  .VxAuthor.AuthorShow .VxAuthorContent {
    transform: translateY(0);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    transform: translateY(100%);
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .VxAuthor .VxAuthorContent.UpdateHeight {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 530px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    /* overflow-y: auto; */
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorHeader img {
    transform: none;
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorDetail {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VxAuthorMeta {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.UpdateHeight .VzSocilxxx {
    opacity: 1;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthorHeader {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000000000;
  }
  .VxAuthorHeader img {
    position: fixed;
    top: -13%;
    left: 35%;
    width: 30%;
    border-radius: 80px;
    z-index: 9999999999999999;
    box-sizing: 0 0 10px rgba(0,0,0,0.1);
    border: 5px solid #fff;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    transform: none;
  }
  .VxAuthorDetail {
    position: relative;
    margin-top: 15px;
    top: 50px;
    text-align: center;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
  }
  .VxAuthorDetail h4 {
    font-size: 20px;
  }
  .VxAuthorDetail p {
    font-size: 14px;
  }
  .VxAuthorMusic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 5px;
    background: #eee;
    border-radius: 50px;
    padding: 3px;
  }
  .VxAuthorMusic i {
    position: relative;
    margin-right: 5px;
    place-items: center;
    cursor: pointer;
  }
  .VxAuthorMusicList {
    position: relative;
    display: flex;
    text-align: center;
    place-content: center;
  }
  .VxAuthorMusicList h4 {
    font-size: 12px;
  }
  .VxAuthorMusicList span {
    font-size: 12px;
    margin-left: 5px;
  }
  .VxAuthorMeta {
    position: relative;
    /* bottom: 30px; */
    /* margin-top: 20px; */
    top: 80px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .VxAuthorMetaBody {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 0.1px solid #cdcdcd;    
  }
  .VxAuthorMetaBody h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #828282;
  }
  .VxAuthorMetaBody p {
    font-size: 12px;
    color: #3a3a3a;
  }
  .VxAuthorFoot {
    position: relative;
    text-align: center;
    margin-top: 40px;
  }
  .VxAuthorFoot p {
    font-size: 12px;
  }
  .VxAuthorFoot p b {
    cursor: pointer;
    transition: 0.5s ease;
  }
  .VxAuthorFoot p b:hover {
    color: #828282;
    transition: 0.5s ease;
  }
  .VzSocilxxx {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999999999;
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VzSocilxxxContent i {
    position: relative;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
  }
  .topRadius {
    border-top-right-radius: 30px;
  }
  .btmRadius {
    border-bottom-left-radius: 10px;
  }
  .VzSocilxxxContent i:hover {
    background: #eee;
    transition: 0.5s ease;
    color: #000;
  }
  .VxAuthorBtnContent {
    position: relative;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
  }
  .VxAuthorBtnContent {
    position: relative;
    display: flex;
    background-color: #eee;
    border-radius: 50px;
  }
  .VxAuthorBtnList {
    margin: 10px;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .VxAuthorBtnList:hover {
    transition: 0.5s ease;
  }
  .VxAuthorBtnList:hover h4 {
    color: rgb(0, 204, 255);
    transition: 0.5s ease;
  }
  .VxAuthorBtnList h4 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
  }
  .VxAuthorBtnList.BtnXActive {
    color: rgb(0, 204, 255);
    font-weight: bold;
    transition: 0.5s ease;
  }
  /* Contact */

  .VxAuthor .VxAuthorContent.Contactxx {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.Contactxx #Profxxx {
    opacity: 0;
    pointer-events: none;
  }
  .VxAuthor .VxAuthorContent.Contactxx .VxAuthorHeader img {
    position: absolute;
    left: 5%;
    width: 20%;
    top: 30%;
    transform: translateX(5%) translateY(0);
    transform: none;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.Contactxx .VxAuthorDetail {
    position: relative;
    text-align: left;
    top: 30px;
    left: 20px;
  }
  .NavMusic {
    position: fixed;
    justify-content: center;
    bottom: 7%;
    padding: 10px;
    border-radius: 50px;
    /* top: 50%; */
    /* right: 55%; */
    /* margin-bottom: 50px; */
    text-align: center;
    z-index: 999999999999;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
  }
  .NavMusic.ShowMsc {
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s ease;
  }
  .wave-menu {
    border-radius: 50px;
    width: 200px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: ease 0.2s;
    position: relative;
  }
  .wave-menu li {
    list-style: none;
    height: 10px;
    width: 4px;
    border-radius: 10px;
    background: #00bfff;
    margin: 0 6px;
    padding: 0;
    animation-name: wave1;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: ease 0.2s;
  }
  .wave-menu li:nth-child(2) {
    animation-name: wave2;
    animation-delay: 0.2s;
  }
  .wave-menu li:nth-child(3) {
    animation-name: wave3;
    animation-delay: 0.23s;
    animation-duration: 0.4s;
  }
  .wave-menu li:nth-child(4) {
    animation-name: wave4;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
  }
  .wave-menu li:nth-child(5) {
    animation-delay: 0.5s;
  }
  .wave-menu li:nth-child(6) {
    animation-name: wave2;
    animation-duration: 0.5s;
  }
  .wave-menu li:nth-child(8) {
    animation-name: wave4;
    animation-delay: 0.4s;
    animation-duration: 0.25s;
  }
  .wave-menu li:nth-child(9) {
    animation-name: wave3;
    animation-delay: 0.15s;
  }
  .VxAuthor .VxAuthorContent.DelHeight {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: rgb(255, 254, 254);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader img {
    position: fixed;
    left: 39%;
    width: 20%;
    top: 8%;
    border: none;
    transform: translateX(5%) translateY(0);
    transition: 0.5s ease;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail {
    position: relative;
    top: 90px;
    transform: none;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail h4 {
    font-size: 16px;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic {
    position: relative;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic h4 {
    font-size: 12px;
  }
  .VxAuthor .VxAuthorContent.DelHeight .VxAuthorHeader .VxAuthorDetail .VxAuthorMusic span {
    font-size: 12px;
  }
  .VxAuthor .VxAuthorContent.DelHeight #Profxxx {
    opacity: 0;
    pointer-events: none;
  }
  .BxtnBack {
    position: relative;
    top: 25px;
    background-color: aqua;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
  }
  .BxtnBack h4 {
    font-weight: normal;
    font-size: 12px;
  }
}
